<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>购物车</title>
    <style>
        .active{
            background-color:#ddd;
        }
    </style>
</head>
<body>
    <!-- 宿主文件 -->
    <div id="app">
        <h2 v-bind:title="title">
            {{title}}
        </h2>
        <!-- 用户输入 -->
        <p>
            <input type="text" v-model="course" v-on:keydown.enter="addCourse">
            <button @click="addCourse">新增</button>
        </p>
        <!--  条件渲染 -->
        <p v-if="courses.length == 0"> 没有任何课程信息  </p>
        <!-- 列表渲染 -->
        <!-- <div v-for="item in courses" :key="item" :class="{active:selectedCource == item}" @click="selectedCource = item">
            {{ item }}
        </div> -->
        <!-- style -->
        <div class="course-list" v-else>
            <div v-for="item in courses" :key="item" 
                style="{backgroundColor:selectedCource == item?'#ddd':'transparent'}"
                :class="{active:selectedCource == item}" @click="selectedCource = item">
                {{ item }}
            </div>
        </div>
        <!-- 商品总数 -->
        <p>
            <!-- 表达式 -->
            <!-- 课程总数：{{courses.length + '门'}} -->
            <!-- 计算属性 -->
            <!-- 课程总数：{{total}} -->
            <!-- 监听器  -->
            课程总数：{{totalCount}}
        </p>





        
    </div>
    <script src="vue.js"></script>
    <script>
        //模拟一部数据调用
        function getCourses(){
            return new Promise(resolve=>{
                setTimeout(()=>{
                    resolve(['web全栈','web高级'])
                },2000);
            })
        }
        //1、创建vue实例
        const app = new Vue({
            el: '#app',
            data() {
                return {
                    title: "开课吧购物车",
                    courses:[],
                    course:'',
                    selectedCource:'',
                    totalCount:0
                }
            }, 
            async created(){
                //组件实例一创建，由于未挂载，dom不存在
                const courses = await getCourses();
                this.courses = courses
            },
            //mounted(){},
            methods:{
                addCourse(){
                    this.courses.push(this.course);
                    this.course = '';
                }
            },
            computed:{
                total(){
                    //计算属性有缓存性，如果值没有发生变化，则页面不会重复渲染
                    return this.courses.length + '门'
                }
            },
            //默认情况下watch初始化时不执行
            /*
            watch:{
                courses(newValue,oldValue){
                    this.totalCount = newValue.length
                }
            }*/
            watch:{
                courses:{
                    immediate:true,//立即执行
                    //deep:true,
                    handler(newValue,oldValue){
                        this.totalCount = newValue.length + '门'
                    }
                }
            },
        })
        console.log(app.$options.render);
    </script>
</body>
</html>